.cursor-pointer {
  cursor: pointer;
}

.container {
  width: 100%;
  height: auto;
  padding: 1rem 0;
}
.art {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px 2px 2px 2px solid gray;
  box-shadow: 3px 4px rgb(240, 240, 240);
  margin: 1rem 0;
  border-radius: 10px;
  height: 200px;
  img {
    border-radius: 10px;

    height: 200px;
    width: 30%;
  }
  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 10px;
    padding: 5px;
    width: 60%;
    height: inherit;
    a,
    p {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    a {
      color: black;
      align-self: flex-start;
      font-weight: bold;
      margin-top: -20px;
      padding-bottom: 10px;
      text-decoration: underline;
    }
    a:hover {
      color: #4c5cbc;
    }
  }
}
.search {
  display: flex;
  .form-control {
    width: 70%;
    color: black;
  }
}

.news {
  width: 60%;
  height: auto;
  padding: 1rem 0;
}

.smallLogo {
  height: 25px;
}

#newsAlert {
  text-align: center;
  font-size: x-large;
}
