<div class="header bg-primary pb-6 pt-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
          <!-- Card body -->
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  <a class="atag" href="https://abc.xyz/" target="_blank">
                    Alphabet Inc. (GOOG)
                  </a>
                </h5>
                <span
                  class="h2 font-weight-bold mb-0"
                  *ngIf="priceStock1; else elseBlock1"
                  >{{ priceStock1 }}$</span
                >
                <ng-template #elseBlock1>...</ng-template>
              </div>
              <div class="col-auto">
                <img
                  src="https://finnhub.io/api/logo?symbol=GOOGL"
                  alt="Alphabet Inc. logo"
                  class="smallLogo"
                />
              </div>
            </div>
            <p class="mt-3 mb-0 text-sm">
              <span class="text-success mr-2"
                ><i class="fa fa-arrow-up"></i> 3.48%</span
              >
              <span class="text-nowrap">Since last month</span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
          <!-- Card body -->
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  <a class="atag" href="https://www.tesla.com/" target="_blank">
                    Tesla Inc. (TSLA)
                  </a>
                </h5>
                <span
                  class="h2 font-weight-bold mb-0"
                  *ngIf="priceStock2; else elseBlock2"
                  >{{ priceStock2 }}$</span
                >
                <ng-template #elseBlock2>...</ng-template>
              </div>
              <div class="col-auto">
                <img
                  src="https://finnhub.io/api/logo?symbol=TSLA"
                  alt="Tesla Inc. logo"
                  class="smallLogo"
                />
              </div>
            </div>
            <p class="mt-3 mb-0 text-sm">
              <span class="text-success mr-2"
                ><i class="fa fa-arrow-up"></i> 3.48%</span
              >
              <span class="text-nowrap">Since last month</span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
          <!-- Card body -->
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  <a
                    class="atag"
                    href="https://www.zacks.com/funds/etf/SPY/holding"
                    target="_blank"
                  >
                    SPDR S&P 500 ETF Trust (SPY)
                  </a>
                </h5>
                <span
                  class="h2 font-weight-bold mb-0"
                  *ngIf="priceStock3; else elseBlock3"
                  >{{ priceStock3 }}$</span
                >
                <ng-template #elseBlock3>...</ng-template>
              </div>
              <div class="col-auto">
                <img
                  style="height: 50px; margin-top: -10px"
                  src="https://easyportfol.io/blog/spx/thumb.svg"
                  alt="S&P500 logo"
                  class="smallLogo"
                />
              </div>
            </div>
            <p class="mt-3 mb-0 text-sm">
              <span class="text-success mr-2"
                ><i class="fa fa-arrow-up"></i> 3.48%</span
              >
              <span class="text-nowrap">Since last month</span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
          <!-- Card body -->
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  <a
                    class="atag"
                    href="https://bitcoin.org/en/"
                    target="_blank"
                  >
                    Bitcoin USD (BTC-USD)
                  </a>
                </h5>
                <span
                  class="h2 font-weight-bold mb-0"
                  *ngIf="priceStock4; else elseBlock4"
                  >{{ priceStock4 }}$</span
                >
                <ng-template #elseBlock4>...</ng-template>
              </div>
              <div class="col-auto">
                <img
                  src="https://bitcoin.org/img/icons/logotop.svg?1630339663"
                  alt="Bitcoin logo"
                  class="smallLogo"
                />
              </div>
            </div>
            <p class="mt-3 mb-0 text-sm">
              <span class="text-success mr-2"
                ><i class="fa fa-arrow-up"></i> 3.48%</span
              >
              <span class="text-nowrap">Since last month</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ! Chart1 -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-8">
      <div class="card bg-default">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <img
                [src]="stockDeatils?.logo || ''"
                class="text-uppercase text-muted ls-1 mb-1"
                style="max-height: 25px"
              />
              <!-- <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6> -->
              <h5 class="h3 text-white mb-0">{{ StockSymbol }}</h5>
              
              <!-- ! If the  -->
              <span class="text-primary mr-2" *ngIf="priceCurrentStock">{{ priceCurrentStock }}</span>
              
              <span *ngIf="!priceCurrentStock" class="text-primary mr-2">{{ prices?.c }}</span>
              
              <span [ngClass]="prices?.dp > 0 ? 'text-success' : 'text-danger'">
                <i [ngClass]="prices?.dp > 0 ? 'fa fa-arrow-up' : 'fa fa-arrow-down'"></i>{{ prices?.dp }}%</span>

                
              <!-- <span class="ml-1" *ngIf="priceCurrentStock">(<span *ngIf="(priceCurrentStock-prices.c) > 0">+</span>{{ priceCurrentStock-prices.c }})</span> -->
              <span class="ml-1" >(<span *ngIf="prices?.d > 0">+</span>{{ prices?.d }})</span>
            </div>
            <div class="col">
              <ul class="nav nav-pills justify-content-end">
                <li class="nav-item mr-2 mr-md-0" data-toggle="chart">
                  <div
                    class="nav-link py-2 px-3 active"
                    [class.active]="active == 'M'"
                    data-toggle="tab"
                  >
                    <span
                      class="d-none d-md-block cursor-pointer"
                      (click)="setChartTime('Month')"
                      >Month</span
                    >
                    <span class="d-md-none">M</span>
                  </div>
                </li>
                <li class="nav-item" data-toggle="chart">
                  <div
                    class="nav-link py-2 px-3"
                    [class.active]="active == 'W'"
                    data-toggle="tab"
                  >
                    <span
                      class="d-none d-md-block cursor-pointer"
                      (click)="setChartTime('Week')"
                      >Week</span
                    >
                    <span class="d-md-none">W</span>
                  </div>
                </li>
                <li class="nav-item" data-toggle="chart">
                  <div
                    class="nav-link py-2 px-3"
                    [class.active]="active == 'D'"
                    data-toggle="tab"
                  >
                    <span
                      class="d-none d-md-block cursor-pointer"
                      (click)="setChartTime('Day')"
                      >Day</span
                    >
                    <span class="d-md-none">D</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart1 -->
          <div class="chart">
            <div id="chart-sales-dark" class="chart-canvas" *ngIf="series">
              <apx-chart
                [series]="series"
                [chart]="achart"
                [xaxis]="xaxis"
                [yaxis]="yaxis"
                [title]="title"
              ></apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ! Serach -->
    <form [formGroup]="searchForm" (ngSubmit)="search()" class="col-xl-4">
      <div class="card">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <div class="search">
                <input
                  class="form-control mr-2"
                  type="text"
                  formControlName="searchInput"
                  [placeholder]="stockDeatils?.name"
                  style="border: 2px solid black"
                />
                <button type="submit" class="btn btn-outline-primary">
                  Search
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body" style="min-height: 423px">
          <div *ngFor="let stock of stockSearch">
            <span
              class="badge badge-pill badge-default cursor-pointer"
              (click)="showChartOfSearchStock(stock.symbol)"
              >{{ stock.symbol }}</span
            >
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- ! Chart2 (statistic)  -->
<!-- <div class="col-xl-12">
  <div class="card">
    <div class="card-header bg-transparent">
      <div class="row align-items-center">
        <div class="col" style="display: flex">
          <div
            class="
              icon icon-shape
              bg-gradient-orange
              text-white
              rounded-circle
              shadow
            "
          >
            <i class="ni ni-chart-pie-35"></i>
          </div>
          <h5 class="h3 mb-0 ml-2 mt-2">{{ stockDeatils?.name || "" }}</h5>
        </div>
      </div>
    </div>
    <div class="card-body"> -->
<!-- Chart2 -->
<!-- <div class="chart" id="chartB"></div>
    </div>
  </div>
</div> -->

<!-- ! News -->
<div class="alert alert-primary" role="alert">
  <i class="ni ni-bell-55" style="size: 50px"></i>&nbsp;
  <strong id="newsAlert">News!</strong>
</div>
<div class="container news">
  <div class="art" *ngFor="let news of myNews; let i = index">
    <img class="img-top" [src]="news.image" alt="image cap" />
    <div class="body">
      <a [href]="news.url" target="_blank" class="title">{{ news.headline }}</a>
      <p class="text ptag">{{ news.summary }}</p>
    </div>
  </div>
  <button
    type="button"
    class="btn btn-outline-default btn-lg btn-block"
    (click)="getMoreNews()"
  >
    More
  </button>
  <div style="display: flex; justify-content: space-between">
    <button
      type="button"
      class="btn btn-outline-default btn-lg btn-block"
      style="margin-top: 10px"
      (click)="hideNews()"
    >
      Hide
    </button>
    <button
      type="button"
      class="btn btn-outline-default btn-lg btn-block"
      style="margin-top: 10px"
      (click)="hideAllNews()"
    >
      Hide All
    </button>
  </div>
</div>
